
html {
/*background-color: #F2F5EA;*/
margin: 0 auto;
  background: url("../images/background.png");

}

#navBar{
    /*background-color:#424242;*/
    background-color: #2E4052;
}
.routes{
  color:#FFC857;
  float:right;
}
#AboutBtn {

  background-color: #2E4052;
  color: #FFC857;
}
#contactToolbar{
  margin-top: 20px
}
.background {
  /* outline: #2e4052bd dotted thick; */
  /* box-shadow: #2E4052 5px 5px; */
  background-color: #efefef;
}

#routesStyle{
  float: right;
  justify-content: space-between;
}
#connect {
  box-shadow: #2e4052bd 5px 5px;

}
#connectNavBar{
    background-color: #2E4052;

    /*#495159;*/
}
#navTextColor {
  color: #FFC857;
}

#hello {
  color:#FFC857;
}
.btn {
    color:#FFC857;
}
#footer{
    background-color: #2E4052;
    margin-top: 20px;
    padding-top: 20px;
}
#aboutPortfolio{
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.icons{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 15px;
  opacity:0.7;

}
.icons:hover{
  opacity: 0.4;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.customClass:hover {
  transform: scale(2.0);
}
.customClassImg:hover {
  opacity: .6;
}
.customClassImg {
  /* opacity: .6; */
  transition: all 0.2s;
}

.about-me:first-child:first-letter {
  color: #2e4053;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
